# Files
.DS_Store
.cache
.classpath
.project
twitter4j.properties
postcodes.csv

# Directories
/bin/
/target/
/project/target/
/.settings/
/.worksheet/

# Absolute directories
/project/boot/
/src/main/resources/twitter4j.properties
